---
layout: default
title: A Fenntartható jövőért
page-class: landing
---

<section class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1>{{ page.title }}</h1>
                <h2>Egy élhető mintaprojekt</h2>
                <p class="lead my-4">Lorem1 lipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin, lacus quis pulvinar porta, tortor eros lacinia velit, id rhoncus dui metus non erat. Duis consectetur felis non ultrices semper. Ut tincidunt tincidunt sem, vitae fermentum dui dictum sed. Vivamus dapibus elementum dui luctus posuere. Donec vel dui gravida, porttitor elit in, imperdiet ex. Mauris magna ante, maximus vel nisl non, lobortis aliquam justo.</p>
                {% include button.html link="projekt.html" text="Tovább" class="light" %}
            </div>
        </div>
    </div>
</section>

<section class="videok-interaktiv">
    <div class="videok mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row">
                        <h2>Videók</h2>
                        <div class="col-5">
                            <p class="mt-0 mb-5">Lorem2 lipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin, lacus quis pulvinar porta, tortor eros lacinia velit, id rhoncus dui metus non erat. Duis consectetur felis non ultrices semper. Ut tincidunt tincidunt sem, vitae fermentum dui dictum sed. Vivamus dapibus elementum dui luctus posuere.</p>
                            {% include button.html link="videok.html" text="Még több videó" class="dark mb-5" %}
                        </div>
                        <div class="col-7">
                            <iframe src="https://drive.google.com/file/d/1zLF9lc96JGLx569m6e_2Sk53Jw0nJ_aD/preview" width="630" height="354" allow="autoplay" style="border:none;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="arrow-down"></div><div class="arrow-down"></div>

    <div class="container interaktiv mt-5 me-0 ms-auto">
        <div class="row">
            <div class="col-5 ms-4">
                <h2>Interaktív energerika adatok</h2>
                <p class="mt-0 mb-6">Lorem3 lipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin, lacus quis pulvinar porta, tortor eros lacinia velit, id rhoncus dui metus non erat. Duis consectetur felis non ultrices semper. Ut tincidunttincidunt sem, vitae fermentum dui dictum sed. Vivamus dapibus elementum dui luctus posuere.</p>
                {% include button.html link="interaktiv.html" text="Tovább" class="dark mb-5" %}
            </div>
        </div>
    </div>
</section>

<section class="kakukk my-5">
    <div class="container ms-5">
        <div class="row">
            <div class="col-9">
                <h2>Lorem4 Ipsum</h2>
                <p>Lorem5 ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </div>
        </div>
    </div>
</section>

<div class="arrow-down arrow-down-secondary"></div><div class="arrow-down arrow-down-secondary"></div>

<section class="technologiak my-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="col-6">Technológiák <br>interaktív bemutatása</h2>
            <p class="col-8 mb-5">
                Lorem7 ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>
        </div>
        <div class="elozetesek row mt-5">
            <div class="col-4">
                <img src="assets/images/tech-icon-1.png" />
                <h3>Lorem8 ipsum</h3>
                <p>
                    Lorem9 ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    <a class="mx-2" href="#">tovább</a>
                </p>
            </div>
            <div class="col-4">
                <img src="assets/images/tech-icon-2.png" />
                <h3>Lorem10 ipsum</h3>
                <p>
                    Lorem11 ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    <a class="mx-2" href="#">tovább</a>
                </p>
            </div>
            <div class="col-4">
                <img src="assets/images/tech-icon-3.png" />
                <h3>Lorem12 ipsum8</h3>
                <p>
                    Lorem13 ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    <a class="mx-2" href="#">tovább</a>
                </p>
            </div>
        </div>
</section>

<section class="nezz-korul mt-5">
    <div class="container">
        <div class="row">
            <div class="col col-6 p-4">
                <h2>Nézz körül</h2>
                <p class="mb-5">Lorem14 ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                {% include button.html link="virtualis.html" text="tovább" class="dark" %}
            </div>
        </div>
</section>

