---
layout: default
title: A Fenntartható jövőért
page-class: landing
---
<section class="main">

    <h1>{{ page.title }}</h1>
    <h2>Egy élhető mintaprojekt</h2>

    <p class="lead">Lorem lipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin, lacus quis pulvinar porta, tortor eros lacinia velit, id rhoncus dui metus non erat. Duis consectetur felis non ultrices semper. Ut tincidunt tincidunt sem, vitae fermentum dui dictum sed. Vivamus dapibus elementum dui luctus posuere. Donec vel dui gravida, porttitor elit in, imperdiet ex. Mauris magna ante, maximus vel nisl non, lobortis aliquam justo.</p>
    {% include button.html link="projekt.html" text="Tovább" class="light" %}

</section>

<section class="videok">

    <h2>Videók</h2>

    <p>Lorem lipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin, lacus quis pulvinar porta, tortor eros lacinia velit, id rhoncus dui metus non erat. Duis consectetur felis non ultrices semper. Ut tincidunt tincidunt sem, vitae fermentum dui dictum sed. Vivamus dapibus elementum dui luctus posuere.</p>

    {% include button.html link="videok.html" text="Még több videó" class="dark" %}

</section>