---
layout: default
title: Virtuális szoba
page-class: virtualis-page
---

<section class="main">
    <div class="container-fluid px-0">
        <div class="main-title row row align-items-center mx-0">
            <div class="col-5 mt-5 pt-5">
                <h1 id="content" class="mt-5 pt-5">Nézz körül virtuálisan!</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-mintaprojekt">
    <div class="container">
        <div class="row justify-content-center mb-5">
            {% for pan in site.data.hazak %}
            <div class="col-12 my-2">
                <div id="{{pan.id}}" style="height:40vw;"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
const panoSettings = {
    'type': 'equirectangular',
    'compass': false,
    'autoRotate': -2,
    'hfov': 100, // zoom (100)
};
const panoImageList = [
    {% for haz in site.data.hazak %}{
        id: '{{haz.id}}',
        img: '{{haz.img}}',
        title: '{{haz.title}}'
    },
    {% endfor %}
];
panoImageList.forEach(pan => {

    pannellum.viewer( pan.id, {
        ...panoSettings, ...{
            panorama: pan.img + '.jpg',
            preview: pan.img + '-preview.jpg',
            title: pan.title
        }
    });
});
</script>
