<footer class="p-4">
    <div class="container">
        <div class="row d-flex align-items-center">
            <nav class="col-4">
                {% for item in site.data.nav %}
                <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %} target="_self">
                    {{ item.name }}
                </a>
                {% endfor %}
            </nav>
            <div class="footer-logo col-4">
                <div class="row justify-content-md-center mb-3">
                    <div class="col-auto">
                        <img src="/assets/images/logo_small.png" alt="">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <p class="col-auto">
                        Akadálymentes weboldal
                        <a href="https://achecker.achecks.ca/checker/index.php?uri=referer&gid=WCAG2-AA" target="_self"><img src="https://achecker.achecks.ca/images/icon_W2_aa.jpg" alt="WCAG 2.0 (Level AA)" height="32" width="102" /></a>
                    </p>
                </div>
            </div>
            <div class="contact col-4">
                <p>
                    <span class="strong">KAPCSOLAT</span><br />
                    Elérhetőség: Szabó Éva<br />
                    Cím: 3360 Heves, Arany János utca (hrsz: 1210)<br />
                    Tel.: +36 70 944 1905<br />
                    E-mail: <a href="mailto:{{ site.email }}" target="_self">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
