// Landing page styles
.landing {

    h2 {
        font-size: 1.6em; //27px
    }

    .main {
        background-color: $color-primary-dark;
        background-image: url('../images/landing-main.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: $color-primary-dark;
        padding: 8.5em 20% 0 22%;
        text-align: center;
        height: calc(100vw * .57);
        min-height: 26em;

        h1 {
            font-size: 2.8em; //47px
            margin: 0;
            letter-spacing: 4px;
        }
        h2 {
            color: #fff;
            margin-top: 0;
            margin-bottom: 50px;
        }
    }

    .videok-interaktiv {
        background-color: #fff;
        background-image: url('../images/bg-geo-tr.png'), url('../images/bg-geo-bl.png');
        background-position: top right, bottom left;
        background-repeat: no-repeat;
        background-size: auto;

        .videok {
            background-image: linear-gradient($color-secondary-light, $color-secondary-light);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: calc(50% + 60px) 100%;
        }

        .interaktiv {
            background-image: linear-gradient($color-secondary-light, $color-secondary-light);
            box-shadow: -11px 11px 46px 0px rgba(0, 0, 0, 0.35);
        }

        h2 {
            color: $color-primary-dark;
            font-size: 2.2em;
            margin-top: 87px;
        }

        p {
            font-size: 1em; //16px;
        }

        iframe {
            box-shadow: -11px 11px 46px 0px rgba(0, 0, 0, 0.35);
            background-color: #000;
        }
    }

    .kakukk {
        background-color: #ca7f54;
        background-image: url(../images/bg-marek-fold.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        max-height: 688px;
        min-height: 500px;

        h2 {
            font-size: 4em;
        }
    }

    .technologiak-nezzkorul {
        position: relative;
        // background-color: #fff;
        // z-index: -1;
    }

    .technologiak-nezzkorul::after {
        background-color: #fff;
        background-image: url(../images/bg-geo-tr.png), url(../images/bg-geo-bl.png);
        background-position: 126% 0, 0 111%;
        background-repeat: no-repeat;
        background-size: auto;
        content: '';
        display: block;
        height: 100%;
        opacity: .3;
        position: absolute;
        top: 0;
        transform: rotate(180deg);
        width: 100%;
        z-index: -1;
    }

    .technologiak {
        text-align: center;

        h2, h3 {
            color: $color-primary-dark;
            font-size: 2.2em; //36px;
        }

        h3 {
            font-size: 1em; //16px;
            text-transform: uppercase;
            color: $color-primary-dark;
        }

        .elozetesek p {
            text-align: left;

            a {
                font-variant: small-caps;
                float: right;

                &:link,
                &:visited {
                    color: $color-primary-light;
                }

                &:hover,
                &:focus,
                &:active {
                    color: $color-primary-dark;
                }
            }
        }
    }

    .nezz-korul {
        h2 {
            color: $color-primary-dark;
            font-size: 2.4em; //40px;
        }
        .col {
            background-color: $color-secondary-light;
        }
    }
}
