// variables
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700; // Oswald
$weight-black: 900;
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$color-primary-light: #6bd4ff;
$color-primary-dark: #003c68;
$color-primary-darker: #002249;
$color-secondary-light: #e4e326;

// Overwrites
html {
    background-color: #fff;
    color: $color-primary-dark;
    font-family: $font-roboto;
    font-size: 1.33333333em; // 16px
    font-weight: $weight-regular;
    line-height: 1.4;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

// Menu
header {
    text-align: right;

    nav {
        padding-top: 0.8em;
        width: auto;
        margin-right: 1.5em;
    }

    nav a {
        color: #fff;
        font-family: $font-roboto;
        font-size: 0.75em; // 12px
        padding: 0.5em 1em;
        margin: 0 0.4em;
        font-weight: $weight-black;
        letter-spacing: 0.2em;

        &.current,
        &:hover,
        &:focus,
        &:active {
            color: $color-secondary-light;
        }
    }
}

// Title
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: $font-oswald;
    font-size: 4.5em; // 77px
    text-transform: uppercase;
    font-weight: $weight-bold;
}

h2 {
    font-size: 3.5em; // 65px
}

h3 {
    font-size: 3em; // 55px
}

h4 {
    font-size: 2.5em; // 45px
}


// components
.button {
    background-color: $color-secondary-light;
    color: $color-primary-dark;
    display: inline-block;
    font-size: .9em;
    font-weight: $weight-black;
    padding: 0.25em 1.9em 0.25em;

    &.button-dark {
        background-color: $color-primary-light;
        color: $color-primary-dark;
    }

    .arrow {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 6px solid $color-primary-dark;
        border-right: 6px solid $color-primary-dark;
        transform: rotate(45deg);
        margin: 0 -14px -2px 16px;

        .button-dark & {
            border-top-color: $color-primary-dark;
            border-right-color: $color-primary-dark;
        }
    }
    &.button-dark .arrow {
        border-top-color: $color-primary-dark;
        border-right-color: $color-primary-dark;
    }

    .arrow-second {
        display: none;
    }

    &:hover,
    &:focus,
    &:active {

        .arrow {
            border-top-width: 3px;
            border-right-width: 3px;
            margin: 0 -20px 0 16px;
        }

        .arrow-second {
            display: inline-block;
        }
    }
}


.arrow-down {
    border-right: 11px solid $color-primary-light;
    border-top: 11px solid $color-primary-light;
    content: "";
    display: block;
    height: 24px;
    margin: 8px auto 0;
    transform: rotate(135deg);
    width: 24px;
}

// Custom page styles
.landing {

    h2 {
        font-size: 1.6em; //27px
    }

    .main {
        background-color: $color-primary-light;
        background-image: url('../images/landing-main.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: $color-primary-dark;
        margin-top: -2.2em;
        padding: 8.5em 20% 0 22%;
        text-align: center;
        height: calc(100vw * .57);
        min-height: 26em;

        h1 {
            font-size: 2.8em; //47px
            margin: 0;
            letter-spacing: 4px;
        }
        h2 {
            color: #fff;
            margin-top: 0;
            margin-bottom: 50px;
        }

        p {
            margin: 32px 0;
        }
    }

    .videok-interaktiv {
        // background-color: $color-secondary-light;
        background-image: url('../images/bg-geo-tr.png'), url('../images/bg-geo-bl.png');
        background-position: top right, bottom left;
        background-repeat: no-repeat;
        background-size: contain, contain;

        .videok {
            background-image: linear-gradient($color-secondary-light, $color-secondary-light);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: calc(50% + 60px) 100%;
        }

        .interaktiv {
            background-image: linear-gradient($color-secondary-light, $color-secondary-light);
            box-shadow: -11px 11px 46px 0px rgba(0, 0, 0, 0.35);
            width: calc(50% + 16px);
            margin-left: auto;
        }

        h2 {
            color: $color-primary-dark;
            font-size: 2.4em; //40px;
            margin-top: 87px;
        }

        p {
            font-size: 1em; //16px;
        }

        iframe {
            box-shadow: -11px 11px 46px 0px rgba(0, 0, 0, 0.35);
        }
    }
}
